/TesteExercicio_07.class
/TesteExercicio01_Medium.class
/TesteExercicio02_Medium.class
/TesteExercicio03_Medium.class
/TesteExercicio04_Medium.class
/TesteExercicio05_Medium_Vetor.class
/TesteExercicio05_medium.class
/TesteExercicio06_medium.class
/TesteExercicio07.class
/TesteExercicio07_medium.class
/TesteExercicio08.class
/TesteExercicio08_medium.class
/TesteExercicio09.class
/TesteExercicio10.class
/TesteExercicio10_medium.class
/TesteExercicio11.class
/Exercicio08.class
/TesteExercicio11_medium.class
