/Exercicio02.class
/Exercicio03.class
/Exercicio04.class
/Exercicio04_new.class
/Exercicio05.class
/Exercicio06.class
/Util.class
/ExecutaExercicio.class
/Exercicio07.class
/Exercicio08.class
/Exercicio6_Medium.class
/Exercicio01_hard.class
/Exercicio02_hard2.class
/Exercicio03_hard.class
/Exercicio01_Medium.class
/Exercicio02_Medium.class
/Exercicio03_medium.class
/Exercicio04_medium.class
/Exercicio05_medium.class
/Exercicio05_medium_Vetor.class
/Exercicio06_medium.class
/Exercicio06_medium_refatorado.class
/Exercicio07_medium.class
/Exercicio08_medium.class
/Exercicio09.class
/Exercicio09_medium.class
/Exercicio10.class
/Exercicio10_medium.class
/Exercicio11.class
/Exercicio_05.class
/Utilidades.class
